@{
    ViewBag.Title = "Trainer";
}

<main>
    <div class="container">
        <div class="row">

            <div class="col text-center mt-3 mb-3">
                <div class="row">

                    <div class="column column-left">
                        <div class="card mb-3">
                            @{
                                var users = ViewBag.User as IEnumerable<PokemonGame.Data.User>;
                            }
                            @Html.Partial("_MessagePartial", users)
                        </div>
                        <div class="card mt-3">
                            @{
                                var messages = ViewBag.Mesages as IEnumerable<PokemonGame.Data.Message>;
                            }
                            @Html.Partial("_MessageReceivedPartial", messages)

                        </div>
                    </div>

                    <div class="column column-right">
                        <div class="card">
                            @Html.Partial("_TeamPartial")
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</main>